.card {
  height: 360px;
  max-width: 245px;
  background: #fff;
  border: 2px solid #fff;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  margin: 1px;
}
.card img {
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.descriptions {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  text-align: center;
  clip-path: circle(0% at 100% 100%);
}

.card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}

.card:hover {
  transform: scale(0.97);
}

.card h1 {
  color: #482ff7;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0px;
}

.buttonsWrapper {
  display: grid;
  grid-gap: 10px;
  width: 90px;
  margin-left: 50px;
}

.cardButton {
  border-radius: 5px;
  padding: 1px;
  height: auto;
  cursor: pointer;
  border-style: none;
  background: linear-gradient(135deg, #71b7e6, #482ff7);
  color: #fff;
  font-size: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.cardButton:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}
