.searchBarContainer {
  display: grid;
  text-align: center;
  justify-content: center;
}

.searchBarContainerUndefined {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-top: 30vh;
}

.searchInputContainer {
  display: flex;
  width: 300px;
  background-color: salmon;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0.25rem 0.25rem 0.75rem #f0b2a8;
}

p {
  margin-bottom: -3px;
  font-size: 20px;
}

.input {
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: salmon;
  color: white;
}

.btn-search {
  background-color: salmon;
  border: none;
  cursor: pointer;
}

.btn-search:hover {
  transform: scale(1.3)
}

.hello {
  display: inline-block;
}

.name {
  display: inline-block;
  color: #482ff7;
}